nav ul a,
nav .brand-logo {
  color: #444;
}
@font-face {
  font-family: "Montserrat";
  src: local(Montserrat Regular), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: local(Montserrat Bold), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}
html {
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}
.bodyEm{
  background-color: #dadcdf;
}
p {
  line-height: 2rem;
}
#backupoffme{
  max-width: 640px;
  margin: 0 auto;
}
#backupoffme p{
  margin: 5px 30px;
}
#myPic{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
}
.instagram{
  width: 75px;
  margin-bottom: -5px;
}
.youtube{
  width: 65px;
  margin-bottom: -5px;
  margin-top: -3px;
}
.fbtwit{
  width: 75px;
  margin-bottom: -1px;
}
.strife, .supercr3w{
  text-align: center;
  display: inline-block;
  margin: 10px 30px;
}
#strsup{
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}
.stacksAhoy{
  color: #607d8b;
}
.stacksProj{
  color: #ee6e73;
}
.stackHead{
  color: #757575;
}
.subtats{
  color: #ffab00;
}
.button-collapse {
  color: #26a69a;
}
/*div anchor*/
#ABOUTME, #HOME, #EXPERIENCE, #CONTACT{
  padding-top:30px;
}
/* END div anchor*/
.hcolor{
  color: #e3e0e0;
  /*text-shadow: 1px 1px #d4d3d3;*/
}
/*Experience Projects*/
.spaceneedle{
  margin: 10px 0;
}
.sittinSideWays{
  margin: 0 20px;
}
/*END of Experience Projects*/
/* Containers */
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: #6bd0ee;
}
  .parallax-container .section {
    width: 100%;
  }
/* OTHER WORKS section */
.work-img img{
  box-shadow: 5px 5px 5px #888888;
}
.work-img img:hover, .work-img img:active{
  box-shadow: 5px 5px 10px #00e6e6;
  width: 270px;
}
.work-img h5{
  color: #00ace6;
}
/* END Other Works section*/
/* END Containers*/
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}
@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
footer.page-footer{
  margin-bottom: 0;
  background-color: #dadcdf;
  text-align: center;
  color: black;
}