nav ul a,
nav .brand-logo {
  color: #444;
}

@font-face {
  font-family: "Montserrat";
  src: local(Montserrat Regular), url("../fonts/Comfortaa/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

html {
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}
/* END fonts*/
 
.bodyEm{
  background-color: #dadcdf;
}

p {
  line-height: 2rem;
}

.stacksAhoy{
  color: #607d8b;
}
.stacksProj{
  color: #ee6e73;
}
.stackHead{
  color: #757575;
}

.subtats{
  color: #ffab00;
}

.button-collapse {
  color: #26a69a;
}

/*div anchor*/
#ABOUTME, #HOME, #EXPERIENCE, #CONTACT{
  padding-top:40px;
  margin-top:10px;
}
/* END div anchor*/

#backupoffme p{
  text-align: left-center;
  max-width: 650px;
}

#myPic{
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

#aboutDiv{
  display: inline-block;

}

.hcolor{
  color: #000000;
  /*margin-top: 0 auto;*/
  /*text-shadow: 1px 1px 2px #000000;*/
}

/*Experience Projects*/
.spaceneedle{
  margin: 10px 0;
}
.sittinSideWays{
  margin: 0 20px;
}
/*END of Experience Projects*/

/* Containers */
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: #6bd0ee;
}
  .parallax-container .section {
    width: 100%;
  }
/* END Containers*/

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer{
  margin-bottom: 0;
  background-color: #dadcdf;
  text-align: center;
  color: black;
}